.card {
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
  }

  .card:hover{
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
  }
  .card img {
    height: 150px;
    object-fit: contain;
  }
  
  .card p {
    text-align: left;
  }

  .rating {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 6px 0;
  }
  
  .star {
    font-size: 16px;
    color: #d1d5db; /* gray */
  }
  
  .star.filled {
    color: #facc15; /*  yellow */
  }
  
  .rating-count {
    font-size: 12px;
    color: #6b7280;
    margin-left: 4px;
  }
  
  .description {
    font-size: 14px;
    color: #374151;
    line-height: 1.5;
  }
  
  .read-more-inline {
    color: #2563eb;
    cursor: pointer;
    font-weight: 500;
  }
  
  .read-more-inline:hover {
    text-decoration: underline;
  }
  
  